.input{
    display: block;
    width: var(--w-full);
    padding: var(--p-xs) var(--p-sm);
    font-size: var(--fs-lg);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.inputPassword{
    position: relative;
    display: block;
    width: var(--w-full);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.imgPassword{
    position: absolute;
    top: 17px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    transition: ease-in-out .3s;
}

.imgPassword:hover{
    scale: 1.1;

}