.mainpage__container{
    width: calc(100% - var(--w-sidebar));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 4%;
    background-color: var(--bg-secondary);
  }

@media screen and (max-width: 991px){
    .mainpage__container{
        width: 100%;
    } 
}

.fixed__UserSectionView {
    position: fixed;
    top: 0;
    width: calc(100% - var(--w-sidebar) - 8%);
    background-color: var(--bg-secondary);
    z-index: 100;
    display: flex;
    flex-direction: column;
  }

@media screen and (max-width: 991px){
    .fixed__UserSectionView{
        width: calc(100% - 4%);
}}

.fixed__divisor{
    margin-top: 90px;
}

.fixed__divisorCustom{
    margin-top: 50px;
}