/*! IMPORTANT - className buttons will be picked from here directly */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');

:root{

  /*** GENERAL ****/

  --1rem: 1rem;
  --2rem: 2rem;
  --3rem: 3rem;
  --4rem: 4rem;
  --full: 100%;

  --10pc: 10%;

  /*** COLORS ****/

  --text-primary: #3ea2f7;
  --text-primaryStrong: #0D8DFB;
  --text-secondary: #B1D9FF;
  --text-midBlue: #94cbfd;
  --text-tertiary: #7696B1;
  --text-error: #fc8181;
  --text-error-primary: #f74d4d;
  --text-error-secondary: #fca2a2;
  --text-error-tertiary: #d66a6a;
  --text-error-custom: rgb(221, 200, 200);
  --text-success: #68d374;
  --text-successEmerald: #1a722e;

  --text-customPrice: #135389;

  /**** HOVERS ****/
  --hover-text-primary: #1c87e4;

  --hover-bg-main: #b3daff;
  --hover-bg-customPrice: #599fdc;


  /**** BACKGROUNDS ****/
  --bg-primary: #eef7ff;
  --bg-secondary: #E5F1FD;
  --bg-main: #cce6ff;

  --bg-error-primaryStrong: #dc1919;
  --bg-error-primary: #f74d4d;
  --bg-error-secondary: #fca2a2;

  --bg-customPrice: #80C4FF;

  /**** FONT-SIZES ****/
  --fs-xxs: 10px;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 24px;
  --fs-main: 30px;
  --fs-titleXS: 32px;
  --fs-title: 40px;
  --fs-2rem: 2rem;

  /**** FONT-WEIGHTS ****/
  --fw-light: 300;
  --fw-regular: 500;
  --fw-bold: 700;

  /**** PADDINGS ****/
  --p-xxs: .25rem;
  --p-xs: .5rem;
  --p-sm: 1rem;
  --p-md: 1.5rem;
  --p-lg: 2rem;
  --p-xl: 2.5rem;
  --p-xxl: 3rem;

  --p-btn: .75rem;

  /* x's % */
  --px-xs-pc: 4%;
  --px-sm-pc: 6%;
  --px-md-pc: 8%;
  --px-lg-pc: 10%;
  --px-xl-pc: 12%;

  /* y px x % */
  --p-xxs-pc: 20px 5%;
  --p-xs-pc: 30px 5%;
  --p-sm-pc: 30px 10%;
  --p-md-pc: 30px 15%;

  /* CUSTOMS */

  --p-uploadfile: .6rem 2.7rem;

  /**** MARGINS ****/
  --m-xxs: .25rem;
  --m-xs: .5rem;
  --m-sm: 1rem;
  --m-md: 1.5rem;
  --m-lg: 2rem;
  --m-xl: 2.5rem;

  /**** GAPS ****/
  --gap-xs: .5rem;
  --gap-1: 1rem;
  --gap-2: 2rem;
  --gap-3: 3rem;
  --gap-4: 4rem;
  --gap-5: 5rem;

  /* % */
  --mx-xs-pc: 4%;
  --mx-sm-pc: 6%;
  --mx-md-pc: 8%;
  --mx-lg-pc: 10%;
  --mx-xl-pc: 12%;

  /**** WIDTHS ****/

  /* GENERALS */
  --w-quarter: 25%;
  --w-third: 33.333333%;
  --w-half: 50%;
  --w-23: 66.666666%;
  --w-34: 75%;
  --w-45: 80%;
  --w-56: 83.333333%;
  --w-90: 90%;
  --w-full: 100%;

  /* SIDEMENUS */
  --w-sidebar: 275px;

  /* BUTTONS */
  --w-button-xs: 100px;
  --w-button: 160px;
  --w-button-md: 200px;
  --w-button-lg: 240px;
  --w-button-xl: 280px;
  --w-button-xxl: 320px;

  --w-bottomBtns: 100px;
  --w-successBtn: 100px;

  --w-topOptions: 125px;
  --w-selectView: 230px;
  --w-searchTopOptions: 300px;
  --w-pdfBtn: 150px;
  
  --w-label: 150px;
  --w-label2: 200px;
  --w-input: 400px;
  --w-submit: 100px;
  --w-withPhoto: 200px;
  --w-dragFile: 259.31px;
  --w-filter: 50px;
  --w-filterContainer: 270px;
  --w-infoTitle: 140px;


  --w-checkbox: 20px;

  --w-minInputXS: 300px;

  /*? PROVIDER WIDTH */
  --w-providerBtn: 170px;

  /*? LOGO WIDTH */
  --w-logo-xs: 40px;
  --w-logo-sm: 60px;
  --w-logo-md: 80px;
  --w-logo-lg: 100px;
  --w-logo-xl: 120px;
  --w-logo-xxl: 140px;

  /* CUSTOM LOGOS*/
  --w-logo-available: 12px;

  /*? BRANCHOFFICE NAME WIDTH */
  --w-BO: 150px;

  /*? MODAL WIDTHS  */
  --w-login: 600px;

  /*? GENERAL CUSTOMS*/
  --w-hasDisCommission: 160px;

  --w-selectDiscount: 100px;

  /**** HEIGHTS ****/

  --h-quarter: 25%;
  --h-third: 33.333333%;
  --h-half: 50%;
  --h-full: 100%;
  --h-fullScreen: 100vh;
  --h-inputsContainer: 100px;
  --h-checkbox: 20px;

  --h-button: 45px;
  --h-withPhoto: 150px;
  --h-dragFile: 250px;

  --h-productCard-img: 200px;

  --minHeight-ProductCard: 300px;

  /*? PROVIDER HEIGHT */
  --h-providerBtn: 50px;

  --h-productProviderList: 700px;

  /*? LOGO HEIGHT */

  --h-logo-xs: 40px;
  --h-logo-sm: 60px;
  --h-logo-md: 80px;
  --h-logo-lg: 100px;
  --h-logo-xl: 120px;
  --h-logo-xxl: 140px;

  /**** BORDERS ****/
  --radius-xs: 5px;
  --radius-sm: 10px;
  --radius-md: 20px;
  --radius-circle: 50%;

  --border-1px: 1px solid var(--text-primary);
  --border-2px: 2px solid var(--text-primary);
  --border-3px: 3px solid var(--text-primary);
  --border-4px: 4px solid var(--text-primary);
  --border-5px: 5px solid var(--text-primary);

  --borderStrong-1px: 1px solid var(--text-primaryStrong);
  --borderStrong-2px: 2px solid var(--text-primaryStrong);
  --borderStrong-3px: 3px solid var(--text-primaryStrong);
  --borderStrong-4px: 4px solid var(--text-primaryStrong);
  --borderStrong-5px: 5px solid var(--text-primaryStrong);

  --borderSecondary-1px: 1px solid var(--text-secondary);
  --borderSecondary-2px: 2px solid var(--text-secondary);
  --borderSecondary-3px: 3px solid var(--text-secondary);

  --dashed-1px: 1px dashed var(--text-primary);
  --dashed-2px: 2px dashed var(--text-primary);
  --dashed-3px: 3px dashed var(--text-primary);


  --border-success: 2px solid var(--text-success);
  --border-error: 2px solid var(--text-error);
  --border-error-3px: 3px solid var(--text-error);
  --border-failed: 3px solid var(--bg-error-primaryStrong);

  /**** MODALS ****/
  --bg-modal: rgba(0, 0, 0, 0.8);

  /**** SHADOWS ****/
  --shadow-xs: 0 0 5px 0 rgba(0, 0, 0, 0.1);

  /**** OTHERS ****/
  --logo-dimensions: 80px;

}

/**** DEFAULT HTML ELEMENTS CONFIG ****/

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  transition: all .3s linear;
} 

html {
  box-sizing: border-box;
  color: var(--text-primary);
}

body{
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.App{
  min-height: var(--h-fullScreen);
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
  height: auto;
}

textarea{
  resize: none;
}

textarea::placeholder{
  color: var(--text-primary);
}

select{
  background-color: var(--bg-secondary);
  cursor: pointer;
}

input{
  border: none;
  color: var(--text-primary);
}

input::placeholder{
  color: var(--text-primary);
}

input[type="file"]{
  display: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('@/assets/img/SelectArrow.svg');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 15px;
}

/* TABLE STYLING */

table{
  border-collapse: collapse;
  border-spacing: 1rem;
  width: 100%;
}

.th__PBXS{
  padding: .5rem !important;
}

th, td{
  text-align: start;
  padding: .75rem .5rem;
}

th{
  padding-block: var(--p-lg);
  font-size: var(--fs-sm);
}

th:first-of-type{
  padding-block: 0;
}

th:last-of-type{
  padding: 0;
  padding-inline: var(--p-lg);
}



tr{
  border-bottom: 1px solid var(--text-primary);
}

tr:last-child{
  border-bottom: none;
}

tr{
  padding: 0;
}

.error, .error_responsibles{
  color: var(--text-error);
  text-align: end;
}

.error{
  font-weight: bold;
}

.error_start{
  color: var(--text-error);
}

.error-login{
  display: block;
  width: var(--w-full);
  color: var(--text-error);
  text-align: end;
  margin-bottom: var(--m-xs);
}

.success{
  color: var(--text-success);
  text-align: end;
  font-weight: bold;
}

.successEmerald{
  color: var(--text-successEmerald);
  text-align: end;
  font-weight: bold;
}

.error-provider{
  margin-block: var(--m-xs);
  color: var(--text-error);
  text-align: start;
}

.success-provider{
  margin-bottom: var(--m-xs);
  color: var(--text-success);
  font-weight: bold;
  text-align: start;
}

@media screen and (max-width: 768px){
  .error{
    margin-top: 0.25rem;
    text-align: center;
  }
  .error_responsibles{
    margin-top: 0.25rem;
    text-align: left;
  }
}

input:focus,
select:focus{
  border-color: var(--text-primary);
}

.input-error{
  border: var(--border-error) !important;
}

.input-success{
  border: var(--border-success) !important;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--w-checkbox);
  height: var(--h-checkbox);
  border: 2px solid var(--text-primary);
  border-radius: 4px;
  padding: .5rem;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: var(--w-checkbox);
  height: var(--h-checkbox);
  border: var(--border-2px);
  border-radius: 50%;
  padding: .5rem;
  cursor: pointer;
}

input[type="radio"]:checked{
  background-color: var(--text-primary);
}

input[type="checkbox"]:checked {
  background-color: var(--text-primary);
}

select{
  color: var(--text-primary);
}

svg{
  color: var(--text-primary);
}

button{
  cursor: pointer;
  color : var(--text-primary);
  border: none;

}

button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}


.bold{
  font-weight: bold;
}

.light{
  font-weight: 300;
}

.centerBold{
  text-align: center;
  font-weight: bold;
}

.center{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.center20{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.end{
  text-align: end;
}

.left{
  text-align: left;
}

.absolute{
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.disabled{
  opacity: 0.5;
  pointer-events: none;
}

.relative{
  position: relative;
}

.hide{
  display: none;
}

.custom__imgWidth{
  width: 13px;
}

/**** GENERAL CLASSES ****/

.ml-xs{
  margin-inline-start: var(--m-xs);
}

.ml-sm{
  margin-inline-start: var(--m-sm);
}

.py-2{
  padding-block: var(--p-lg);
}

.gap-1{
  gap: 1rem;
}

.gap-3{
  gap: 3rem;
}

.ml-3{
  margin-left: var(--3rem);
}

.mr-2{
  margin-right: var(--2rem);
}

.mr-3{
  margin-right: var(--3rem);
}

.my-1{
  margin-block: var(--1rem);
}

.my-2{
  margin-block: var(--2rem);
}

.my-xs{
  margin-block: var(--m-xs);
}

.mb-1{
  margin-bottom: var(--1rem);
}

.pointer{
  cursor: pointer;
}
 
/**** FLEX CLASSES ****/

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex__actions{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex__spacing{
  display: flex;
  gap: var(--1rem);
  align-items: center;
}

.flex__spacingMY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  margin-block: var(--m-md);
}

.flex__spacingMYTACenter{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  text-align: center;
  margin-block: var(--m-md);
}

.flex__spacingNoAI{
  display: flex;
  gap: var(--1rem);
}

.flex__spacing3NoAI{
  display: flex;
  gap: var(--3rem);
}

.flex__spacing-MY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  margin-block: var(--m-md);
}

.flex__spacingCenter-MY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: center;
  margin-block: var(--m-md);
}

.flex__spacing-MR{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  margin-right: 3rem;
}

.flex__spacing-between{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
}

.flex__spacing-betweenMY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  margin-block: var(--m-md);
}

.flex__spacing2Between{
  display: flex;
  gap: var(--2rem);
  align-items: center;
  justify-content: space-between;
}

.flex__spacing2BetweenMYSM{
  display: flex;
  gap: var(--2rem);
  align-items: center;
  justify-content: space-between;
  margin-block: var(--m-sm);
}

.flex__between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex__spacingBetween-MYXS{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  margin-block: var(--m-xs);
}

.flex__spacingBetween-MYMD{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  margin-block: var(--m-md);
}

.flex__spacingEvenly-MYSMPX10PC{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block: var(--m-sm);
  padding-inline: 10%;
}

.flex__spacingCenter{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: center;
}

.flex__spacingCenter-MY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: center;
  margin-block: var(--m-md);
}

.flex__spacingWrap{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  flex-wrap: wrap;
}

.flex__spacing2Wrap{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  flex-wrap: wrap;
}

.flex__spacingWrapMY{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  flex-wrap: wrap;
  margin-block: var(--m-md);
}

.flex__spacing2Evenly{
  display: flex;
  gap: var(--2rem);
  align-items: center;
  justify-content: space-evenly;
}

.flex__spacing2BetweenWrap{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex__spacingJustifyEnd-MY{
  display: flex;
  justify-content: flex-end;
  gap: var(--1rem);
  margin-block: var(--m-md);
}

.flex__spacing-betweenWrap{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.heading__wrap {
  flex: 1 1 100%;
}

.heading__selected{
  margin-block: var(--2rem);
  text-align: center;
}

.selected__fields{
  background-color: var(--bg-secondary);
  border-radius: var(--radius-md);
  padding: 2rem var(--1rem);
  margin-bottom: var(--2rem);
}

.selected__fieldsBorder3PX{
  background-color: var(--bg-secondary);
  border-radius: var(--radius-md);
  padding: 2rem var(--1rem);
  margin-bottom: var(--2rem);
  border: var(--border-3px);
}

.flex__spacing-around{
  display: flex;
  gap: var(--1rem);
  justify-content: space-around;
}

.flex__spacing2{
  display: flex;
  gap: var(--2rem);
  align-items: center;
}

.flex__spacing2-MY{
  display: flex;
  gap: var(--2rem);
  align-items: center;
  margin-block: var(--m-sm);
}


.flex__spacing-actions{
  display: flex;
  gap: 5rem;
  align-items: center;
}

.flex__customBetweenBorderSecondary{
  display: flex;
  gap: var(--1rem);
  align-items: center;
  justify-content: space-between;
  border: var(--borderSecondary-1px);
  border-radius: var(--radius-sm);
  padding: var(--p-xs);
}

.flexColumn__BGSecondary{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
}

.flexColumn__relative{
  display: flex;
  flex-direction: column;
  position: relative;
}

.flexColumn, .flexColumnMY{
  display: flex;
  flex-direction: column;
}

.flexColumnMY{
  margin-block: var(--m-md);
}

.flexColumn__WFull{
  display: flex;
  flex-direction: column;
  width: var(--w-full);
}

.flexColumn__basis{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.flexColumn__endX{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.flexColumn__endY{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flexColumn__endYWQuarter{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--w-quarter);
}

.flexColumn__center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flexColumn__spacingCenterHFullVH{
  height: 100vh;
  background-color: var(--bg-main);
  gap: var(--1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flexColumn-MBSM{
  display: flex;
  flex-direction: column;
  margin-bottom: var(--m-sm);
}

.flexColumn__spacing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--1rem);
}

.flexColumn__spacingNoCenter{
  display: flex;
  flex-direction: column;
  gap: var(--1rem);
}

.flexColumn__spacingBasisHalf, .flexColumn__spacingBasis13, .flexColumn__spacingBasis23{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 33%; */
  gap: var(--1rem);
  flex-basis: calc(var(--w-half) - var(--1rem));
  flex-wrap: wrap;
}

.flexColumn__spacingBasis13{
  flex-basis: calc(var(--w-third) - var(--1rem));
  flex-wrap: nowrap;
}

.flexColumn__spacingBasis23{
  flex-basis: calc(var(--w-23) - var(--1rem));
  flex-wrap: nowrap;
}

@media screen and (max-width: 1280px) {
  .flexColumn__spacingBasisHalf{
    flex-basis: var(--w-full);
  }

}

.flexColumn__BasisWrap13{
  display: flex;
  flex-direction: column;
  flex-basis: calc(var(--w-third));
}

.flexColumn__MinW300PXWrap{
  display: flex;
  flex-direction: column;
  min-width: var(--w-minInputXS);
}



@media screen and (max-width: 768px) {
  .flexColumn__BasisWrap13, .flexColumn__MinW300PXWrap{
    flex-basis: var(--w-full);
  }

}



/* .flexColumn__spacingBasisFull{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--1rem);
  flex-basis: calc(var(--w-half) - var(--1rem));
  flex-wrap: wrap;
} */

.flexColumn__spacingCustomPadding{
  display: flex;
  justify-content: center;
  gap: var(--1rem);
  flex-wrap: wrap;
  padding: 5%;
}

.flexColumn__spacingCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--1rem);
}

.flexColumn__spacingCenterDashed2PX{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--1rem);
  border: var(--dashed-3px);
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
}

.flexColumn__spacingCenterCustomSucceedBGPrimary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--text-primary);
  color: var(--text-secondary);
  gap: var(--1rem);
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
}

.flexColumn__spacingXS{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
}

.flexColumn__spacingMY{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--1rem);
  margin-block: var(--m-md);
}

.flexColumn__Basis1spacingXS{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
  flex-basis: var(--w-full);
  flex-wrap: wrap;
}

.flexColumn__Basis33spacingXS{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xs);
  flex-basis: var(--w-third);
  flex-wrap: wrap;
}

.flexColumn__spacingNoJC{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--1rem);
}

.flexColumn__spacingPM{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--1rem);
  padding: var(--p-xs);
  margin-block: var(--m-sm);
}

.flex__spacingCenterRES{
  display: flex;
  justify-content: center;
  gap: var(--1rem);
  align-items: center;
}

.flex__spacingMYFull{
  display: flex;
  align-items: center;
  gap: var(--1rem);
  margin-block: var(--m-md);
  width: var(--w-full);
}

.flex__endMY{
  display: flex;
  width: var(--w-full);
  justify-content: flex-end;
  gap: var(--1rem);
  align-items: center;
  margin-block: var(--m-md);
}

@media screen and (max-width: 1200px) {
  .flex__spacingCenterRES{
    flex-direction: column;
  }
}

.flexColumn__full{
  display: flex;
  flex-direction: column;
  width: var(--w-full);
}

.flexColumn__fullMY{
  display: flex;
  flex-direction: column;
  width: var(--w-full);
  margin-block: var(--m-md);
}

.flex__spacingMYMinMaxW{
  display: flex;
  gap: var(--1rem);
  margin-block: var(--m-md);
  min-width: fit-content;
  max-width: var(--w-full);
}


.fs-xxlBold{
  font-size: var(--fs-xxl);
  font-weight: bold;
}

.heading__main{
  font-size: var(--fs-main);
  padding-block: var(--p-sm);
}

.heading__primary{
  font-size: var(--fs-xxl);
  padding-block: var(--p-sm);
}

.heading__primaryPSM{
  font-size: var(--fs-xxl);
  padding-block: var(--p-xs);

}

.heading__primaryWhite{
  font-size: var(--fs-xxl);
  padding-block: var(--p-sm);
  color: var(--bg-secondary);
}

.heading__secondary{
  font-size: var(--fs-lg);
  padding-block: var(--p-md);
}

.heading__tertiary{
  font-size: var(--fs-md);
  padding-block: var(--p-xs);
}

.heading__tertiaryCenter{
  font-size: var(--fs-md);
  padding-block: var(--p-sm);
  text-align: center;
}

.heading__borderTransparent{
  padding: 1rem 7rem;
  display: inline-block;
  background-color: transparent;
  border: var(--border-4px);
  border-radius: var(--radius-sm);
  text-align: center;
  margin-block: 3rem;
}

/*** BUTTONS ****/

.button__nobg{
  background-color: transparent;
}

.bg__secondary{
  background-color: var(--bg-secondary);
}

.fs-xl{
  font-size: var(--fs-xl);
}

.fs-2{
  font-size: var(--fs-2rem);
}

.margin__blockMD{
  margin-block: var(--m-md);
}

.text-center{
  text-align: center;
}

.text-black{
  color: black;
}

.text-primary{
  color: var(--text-primary);
}

.text-primaryStrong{
  color: var(--text-primaryStrong);
}

.text-right{
  text-align: right;
}

.text-centerMYXS{
  text-align: center;
  margin-block: var(--m-xs);
}

.text-sm{
  font-size: var(--fs-sm) !important;
}

.fs-lg{
  font-size: var(--fs-lg);
}

.block{
  display: block;
}

.w-full{
  width: var(--w-full);
}

.rotateArrow180Deg{
  transform: rotate(180deg);
}

.link__primary{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button);
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-xs);
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.link__secondary{
  display: inline-block;
  width: fit-content;
  background-color: transparent;
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__primary, .button__primaryfit, .button__secondaryCR{
  display: inline-block;
  width: var(--w-button);
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-btn);
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__primaryfit{
  width: fit-content;
}

.button__transparentXS2PX{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button-xs);
  text-align: center;
  background-color: transparent;
  padding: var(--p-btn);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__transparentXS2PX:hover{
  background-color: var(--bg-secondary);
}

.button__transparentWFullBorder3PXRadiusSM{
  width: var(--full);
  padding: .5rem;
  text-align: center;
  background-color: transparent;
  color: var(--text-primary);
  border: var(--border-3px);
  border-radius: var(--radius-sm);
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.button__transparentWFullBorder3PXRadiusSM:hover{
  background-color: var(--text-primary);
  color: var(--bg-secondary);
}

.button__secondaryCR, .button__secondaryCR-NoBr, .button__transparentCR{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button);
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-btn);
  border-radius: var(--radius-md);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__transparentCR{
  background-color: transparent;
}

.button__secondaryCR-NoBr{
  border: 0;
}

.button__primary-blue, .button__primary-blueWFull, .button__primary-bluefit, .button__primary-blueCR, .button__primary-bluefitNoPadding{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button);
  text-align: center;
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  padding: var(--p-btn);
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__primary-blueWFull{
  width: var(--w-full);
  max-width: unset;
  min-width: unset;
}

.button__primary-blue{
  width: var(--w-button-xs);
  border-radius: var(--radius-xs);
  padding: var(--p-xs);
}

.button__primary-blue:disabled:hover{
  background-color: var(--text-primary);
  cursor: not-allowed;
}

.button__primary-blueCR{
  border-radius: var(--radius-md);
}


.button__primary-bluefit{
  width: fit-content;
}

.button__primary-bluefitNoPadding{
  width: fit-content;
  padding: 0;
}

.button__primary-blueXS{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  padding: var(--p-btn);
  border-radius: var(--radius-sm);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__secondary{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: transparent;
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__secondaryFit{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button);
  height: fit-content;
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__secondaryFitXS{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button-xs);
  height: fit-content;
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__mainFit{
  display: inline-block;
  max-width: fit-content;
  min-width: var(--w-button-xs);
  height: fit-content;
  text-align: center;
  background-color: var(--bg-main);
  padding: var(--p-xxs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-2px);
}

.button__mainFit:hover{
  background-color: var(--hover-bg-main);
}

.button__primary-cancel{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: transparent;
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-3px);
}

.button__secondary-cancel{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-3px);
}

.button__primary-submit{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: var(--bg-secondary);
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-3px);
}

.button__secondary-submit{
  display: inline-block;
  width: var(--w-button-xs);
  text-align: center;
  background-color: transparent;
  padding: var(--p-xs);
  border-radius: var(--radius-xs);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  border: var(--border-3px);
}

/* FORMS */
.formButton__submit-primary{
  width: var(--w-submit);
  margin: 1rem 0;
  padding: var(--p-xs);
  text-align: center;
  color: var(--text-primary);
  border: var(--border-2px);
  border-radius: var(--radius-xs);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.formButton__submitPrimary-blue{
  width: var(--w-submit);
  margin: 1rem 0;
  padding: var(--p-xs);
  text-align: center;
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  border: var(--border-2px);
  border-radius: var(--radius-xs);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.section__form{
  padding: var(--p-md);
  display: flex;
  flex-direction: column;
  width: var(--w-full);
  color: var(--text-primary);
  background-color: var(--bg-main);
  border-radius: var(--radius-sm);
  margin-bottom: var(--1rem);
}


/**** BUTTON HOVERS ****/

.button__primary-blue:hover, .button__primary-bluefit:hover, .button__primary-blueXS:hover, .formButton__submitPrimary-blue:hover{
  background-color: var(--hover-text-primary);
}

.link__primary:hover, .link__secondary:hover, .button__primaryfit:hover, .button__primary:hover, .button__secondary:hover, .button__secondaryFit:hover, .button__secondary-submit:hover, .button__secondary-cancel:hover, .button__primary-submit:hover, .button__secondaryFitXS:hover{
  background-color: var(--text-primary);
  color: var(--bg-secondary);
}

.button__primary-cancel:hover{
  background-color: var(--bg-secondary);
}

.button__uploadfile-textWFull{
  background-color: var(--text-primary);
  width: var(--w-full);
  color: var(--bg-secondary);
  padding: var(--p-uploadfile);
  font-weight: bold;
  border-radius: var(--radius-sm);
  text-align: center;
  cursor: pointer;
}

.button__uploadfile-textWFullBGTransparent{
  background-color: transparent;
  width: var(--w-full);
  border : var(--border-4px);
  border-radius: var(--radius-sm);
  padding: var(--p-uploadfile);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

/**** LOGOS ****/

.fullname_logo-xs{
  min-width: var(--w-logo-xs);
  min-height: var(--h-logo-xs);
  border-radius: var(--radius-circle);
  background-color: var(--text-primary);
  text-align: center;
  line-height: var(--h-logo-xs);
  color: var(--bg-secondary);
  font-weight: bold;
  font-size: var(--fs-xs);
}

.logo-user{
  min-width: var(--w-logo-xs);
  min-height: var(--h-logo-xs);
  border-radius: var(--radius-circle);
  background-color: var(--text-primary);
  text-align: center;
  line-height: var(--h-logo-xs);
  color: var(--bg-secondary);
  font-weight: bold;
  font-size: var(--fs-md);
}

.logo-login{
  min-width: var(--w-logo-xl);
  min-height: var(--h-logo-xl);
  border-radius: var(--radius-circle);
  background-color: var(--text-primary);
  text-align: center;
  line-height: var(--h-logo-xl);
  color: var(--bg-secondary);
  font-weight: bold;
  font-size: var(--fs-xl);
}

.logo-loginXLTitle{
  min-width: var(--w-logo-xl);
  min-height: var(--h-logo-xl);
  border-radius: var(--radius-circle);
  background-color: var(--text-primary);
  text-align: center;
  line-height: var(--h-logo-xl);
  color: var(--bg-secondary);
  font-weight: bold;
  font-size: 3.5rem;
}

.logo-available{
  min-width: var(--w-logo-available);
  min-height: var(--w-logo-available);
  border-radius: var(--radius-circle);
  background-color: var(--text-primary);
  padding: var(--p-sm);
  line-height: var(--w-logo-available);
  color: var(--bg-secondary);
  font-weight: bold;
}

/*** LABELS *** */

.label__sm{
  font-size: var(--fs-sm);
  font-weight: bold;
  width: var(--w-label);
}

.label{
  font-weight: bold;
  width: var(--w-label);
}

.label__BlockB500FLG{
  font-weight: var(--fw-regular);
  display: block;
  font-size: var(--fs-lg);
}

.label__blockFull{
  display: block;
  width: var(--w-full);
  font-weight: bold;
}

.label__blockFullMY{
  display: block;
  width: var(--w-full);
  font-weight: bold;
  margin-bottom: var(--1rem);
}

.label__minW100{
  min-width: var(--w-label);
  font-weight: bold;
  text-align: left;
}

/**** TEXTS ****/

.text__min300SM{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  text-align: left;
}


/**** INPUTS ****/

/* .input__min300RoundedSMB3{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  border: var(--border-3px);
} */

.input__fullSecondaryRoundedSMB2{
  padding: var(--p-sm);
  border: var(--border-2px);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-sm);
  width: var(--w-full);
}

.input__halfSecondaryRoundedSMB2{
  padding: var(--p-sm);
  border: var(--border-2px);
  background-color: var(--bg-secondary);
  border-radius: var(--radius-sm);
  width: var(--w-half);
}

.input__WFullBGSecondaryTLRoundedSMB4, .input__WFullBGSecondarySMRoundedSMB4{
  text-align: center;
  width : var(--w-full);
  padding: var(--p-lg);
  color: var(--text-primary);
  font-weight: bold;
  border-radius: var(--radius-sm);
  background-color: var(--bg-secondary);
  border: var(--border-4px);
}

.input__WFullBGSecondarySMRoundedSMB4{
  padding: var(--p-sm);
}

.input__WFullBGSecondaryTLRoundedSMB4::placeholder{
  color: var(--text-primary);
}

.input__WFullTransparentTLRoundedSMB3{
  width : var(--w-full);
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  color: var(--text-primary);
  font-weight: bold;
  background-color: transparent;
  border: var(--border-3px);
}

.input__min300TransparentRoundedSMB3, .input__min300SecondaryRoundedSMB3{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: var(--border-3px);
}

.input__min300SecondaryRoundedSMB3{
  background-color: var(--bg-secondary);
}

.input__WFullTransparentRoundedSMB3{
  width: var(--w-full);
  padding: var(--p-sm);
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: var(--border-3px);
}

.input__WHalfTransparentRoundedSMB3{
  width: var(--w-half);
  padding: var(--p-sm);
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: var(--border-3px);
}


.input__min300RoundedSMB4, .input__min300PrimaryRounded{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-4px);
}

.input__min300PrimaryRounded{
  background-color: var(--text-primary);
  color: var(--bg-secondary);
  font-weight: bold;
}

.input__min300RoundedSMB4Pointer{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-4px);
  cursor: pointer;
}

.input__min300RoundedSMB4Pointer:hover{
  background-color: var(--hover-bg-main);
}


.input__fitRoundedSMB3{
  min-width: fit-content;
  padding: var(--p-md);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-3px);
}

.input__min300TLRoundedSMB4{
  min-width : var(--w-minInputXS);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: left;
  border: var(--border-4px);
  color: var(--text-primary) !important;
}

.input__minHalfRoundedSMB4{
  min-width : var(--w-half);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-4px);
}

.input__minQuarterRoundedSMB4{
  min-width : var(--w-quarter);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-4px);
}

.input__minThirdRoundedSMB4{
  min-width : var(--w-third);
  max-width: fit-content;
  padding: var(--p-sm);
  border-radius: var(--radius-sm);
  text-align: center;
  border: var(--border-4px);
}

.input__minHalfRoundedSMB4::placeholder, .input__minQuarterRoundedSMB4::placeholder,
.input__minThirdRoundedSMB4::placeholder
{
  text-align: center;
}

.inputFull{
  width: var(--w-full);
}

/**** TD's *****/

.td__wCustomPrice{
  cursor: pointer;
  color: var(--text-customPrice);
  background-color: var(--bg-customPrice);
}

.td__selected{
  cursor: pointer;
  color: var(--text-customPrice);
  background-color: var(--bg-customPrice);
}

.td:hover{
  cursor: pointer;
  background-color: var(--text-secondary);
}

.td__rightBRadius{
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
}

.td__noPadding{
  padding: 0 !important;
}

/**** IMAGES ****/

.arrow__sideMenu{
  width: 11px;
  height: 11px;
}

.absolute__img{
  position: absolute;
  left: 50%;
  top: 1rem;
  cursor: pointer;
}

.absolute__approved{
  position: absolute;
  left: 50%;
  top: 3rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.image__fitRadiusSM{
  border-radius: var(--radius-sm);
  height: 100%;
}

.absoluteLeft__img{
  position: absolute;
  left: 1rem;
  top: 40%;
  cursor: pointer;
}
.absoluteLeft__img:hover{
  transform: scale(1.2);
}

/**** FORM ****/

.generalForm{
  display: flex;
  flex-direction: column;
  min-width: var(--w-23);
  /* max-width: fit-content; */
  background-color: var(--bg-main);
  border-radius: var(--radius-sm);
  margin-bottom: var(--1rem);
  padding: var(--p-xxs-pc);
}

.generalForm__wFullBGSecPXXSPC{
  display: flex;
  flex-direction: column;
  width: var(--w-full);
  color: var(--text-primary);
  background-color: var(--text-secondary);
  border-radius: var(--radius-sm);
  margin-bottom: var(--1rem);
  padding: var(--p-xxs-pc);
}

.generalForm__wFullBGMainPXXSPC{
  display: flex;
  flex-direction: column;
  width: var(--w-full);
  color: var(--text-primary);
  background-color: var(--bg-main);
  border-radius: var(--radius-sm);
  margin-bottom: var(--1rem);
  padding: var(--p-xxs-pc);
}


.generalForm__MW34{
  display: flex;
  flex-direction: column;
  min-width: var(--w-half);
  max-width: var(--w-34);
  background-color: var(--bg-main);
  border-radius: var(--radius-sm);
  margin-bottom: var(--1rem);
  padding: var(--p-xxs-pc);
}

.generalForm__form-buttons{
  margin-top: var(--m-md);
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  justify-content: flex-end;
}

/**** GRIDS ****/

.grid42__spacingMY{
  width: var(--full);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--1rem);
  margin-block: var(--1rem);
}

.grid42__spacingMYWrap{
  width: var(--full);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--1rem);
  margin-block: var(--1rem);
}

@media screen and (max-width: 991px){
  .grid42__spacingMY, .grid42__spacingMYWrap{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px){
  .grid42__spacingMY, .grid42__spacingMYWrap{
      grid-template-columns: repeat(1, 1fr);
  }
}

/******* SELECTS *******/

.selectBGSecondaryWFull{
  position: relative;
  width: var(--w-full);
  padding: var(--m-sm);
  background-color: var(--bg-secondary);
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: var(--fs-xxl);
  overflow: hidden;
}

.select300BGSecondary{
  position: relative;
  width: var(--w-third);
  padding: var(--m-sm);
  background-color: var(--bg-secondary);
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: var(--fs-sm);
  overflow: hidden;
}

.selectBGSecondaryWFull{
  width: var(--w-full);
  padding: var(--m-sm);
  background-color: var(--bg-secondary);
  font-weight: bold;
  border: none;
  text-align: center;
  font-size: var(--fs-xxl);
  overflow: hidden;
}

/******* TABLES ******/

.table-wrapper {
  overflow-y: scroll;
  overflow-x: auto;
}

.table-wrapper34{
  overflow-y: scroll;
  overflow-x: auto;
  width: var(--w-34);
}

.table-wrapper56{
  overflow-y: scroll;
  overflow-x: auto;
  width: var(--w-56);
}

.table__containerBGSecondary, .table__containerBGSecondaryFlex{
  background-color: var(--bg-secondary);
  padding: var(--p-md);
  border-radius: var(--radius-sm);
  overflow: hidden;
  
}

.table__containerBGSecondaryBorder3PX{
  background-color: var(--bg-secondary);
  padding: var(--p-md);
  border-radius: var(--radius-md);
  overflow: hidden;
  border: var(--border-3px);
}

.table__containerBGSecondaryFlex{
  display: flex;
  gap: 1rem;
}

.table__containerBGTransparent{
  background-color: transparent;
  padding: var(--p-md);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.table__containerBGSecondaryBorder3PX{
  background-color: var(--bg-secondary);
  padding: var(--p-md);
  border-radius: var(--radius-md);
  overflow: hidden;
  border: var(--border-3px);
}

.table__containerBGTransparentBorder3PX{
  background-color: transparent;
  padding: var(--p-md);
  border-radius: var(--radius-md);
  overflow: hidden;
  border: var(--border-3px);
}

.table__width{
  width: 95%;
  margin: 1rem auto;
}

.th__flex{
  display: flex;
  align-items: center;
  min-width: 50px;
  max-width: fit-content;
  height: 30px;
}

.provider__type, .td__primaryStrongBG{

  text-align: center;
  padding: .5rem !important;
  font-weight: bold;
  background-color: var(--text-secondary);
  border-radius: var(--radius-md);
}

.td__primaryStrongBG{
  background-color: var(--text-primary);
  color: var(--bg-secondary);
}

.th__noBG{
  background-color: transparent !important;
}

.toggler__BGPrimary{
  background-color: var(--hover-text-primary) !important;
}

.tHeadTr__borderBottom{
  border-bottom: var(--border-2px) !important;
}
/* 
tbody {
  box-shadow: 0 0 0 4px red;
  border-radius: 10px;
} */

.height50{
  height: 50px;
}

.border2PXRadiusPXSHFit{
  border: var(--border-2px);
  border-radius: var(--radius-sm);
  padding: var(--p-xs);
  height: fit-content;
}

.borderTopPrimaryStrong {
  border-top: var(--borderStrong-2px);
  padding-top: var(--m-xs);
}

.Resume__DataFields{
  border-bottom: var(--border-2px);
  padding-bottom: var(--p-xs);
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  max-width: fit-content;
  min-width: 250px;
  text-align: center;
  font-weight: bold;
}