.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.credentials__main{
    width: var(--w-full);
    height: var(--h-fullScreen);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
}

.credentials__login-container{
    width: var(--w-login);
    max-width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-main);
    color: var(--text-primary);
    border-radius: var(--radius-md);
    padding: var(--p-lg);
    gap: var(--gap-1);
}

.login__container-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-2);
    width: var(--w-full);
    
}

@media screen and (max-width: 768px){
    .login__container-grid{
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.login__container-logo{
    width: var(--w-full);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
}

.login__container-info{
    width: var(--w-full);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__label{
    font-weight: bold;
    font-size: var(--fs-lg);
    display: block;
    width: var(--w-full);
    text-align: left;
}

.login__input{
    display: block;
    width: var(--w-full);
    padding: var(--p-xs) var(--p-sm);
    font-size: var(--fs-lg);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.login__inputPassword{
    position: relative;
    display: block;
    width: var(--w-full);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.login__imgPassword{
    position: absolute;
    top: 17px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    transition: ease-in-out .3s;
}

.login__imgPassword:hover{
    scale: 1.1;

}

.login__checkbox-container{
    padding-block: var(--p-xs);
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    width: var(--w-full);
}

.login__custom-label{
    font-size: var(--fs-md);
    text-align: left;
}

.login__forgot-password{
    padding-top: var(--p-xs);
    display: block;
    margin: 0 0 0 auto;
    font-size: var(--fs-md);
    font-weight: bold;
    /* text-align: right; */
}

.login__forgot-password:hover{
    color: var(--hover-text-primary);
}

.login__container-buttons, .userData__container-buttons{
    margin-top: var(--m-md);
    display: flex;
    width: var(--w-full);
    align-items: center;
    gap: var(--gap-1);
    justify-content: flex-end;
}

/***** FORGOT PW  *****/

.newpassword__input{
    display: block;
    width: var(--w-half);
    margin: 0 auto 0 0;
    padding: var(--p-xs) var(--p-sm);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

/**** USERDATA ****/

.userData__container{
    width: var(--w-full);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-1);
}

.userData__containerFields{
    display: flex;
    gap: var(--gap-1);
    width: var(--w-full);
}

.userData__infoContainer, .userData__infoContainer-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-xs);
    width: var(--w-half);
}

.userData__infoContainer-edit{
    align-items: flex-end;
}

.userData__info {
    display: block;
    width: var(--w-full);
    text-align: left;
    border-bottom: var(--border-1px);
    padding: var(--p-xxs);
}


.userData__infoTitle{
    display: block;
    width: var(--w-full);
    text-align: left;
    font-weight: bold;
}

.userData__edit{
    cursor: pointer;
    width: 20px;
}

.input__password{
    display: block;
    width: var(--w-full);
    padding: var(--p-xs) var(--p-sm);
    font-size: var(--fs-lg);
    margin-block: var(--m-xs);
    border-radius: var(--radius-xs);
    border: var(--border-2px);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.img__Password{
    position: absolute;
    top: 17px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    transition: ease-in-out .3s;
}

.img__Password:hover{
    scale: 1.1;

}